# Cấu hình URL MTP Backend trên Cloud
MTP_BACKEND_URL=https://mtp.example.com

# Cấu hình API Key và API Secret từ MTP (Frappe User -> API Access)
MTP_API_KEY=your_api_key_here
MTP_API_SECRET=your_api_secret_here

# MTP_AUTH_TOKEN=token your_api_key_here:your_api_secret_here

# Đường dẫn API endpoint (Mặc định: /api/method/crawl_document.api.msc.save_msc_tender)
# MTP_API_ENDPOINT=/api/method/crawl_document.api.msc.save_msc_tender
